<header>
  <div class="background-image">
    <div class="header-content">
      <div class="logo">Creative CV</div>
      <nav class="navigation">
        <ul>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
          <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
          <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
          <li><a routerLink="/contact" routerLinkActive="contact">Contact</a></li>
        </ul>
      </nav>
      <div class="profile-section">
        <img class="profile-pic" src="assets/alex.jpeg" alt="Profile Picture">
        <h1>ALEX NOLLA</h1>
        <p>Full Stack Software Developer</p>
        <div class="action-buttons">
          <button>Hire Me</button>
          <button>Download CV</button>
        </div>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</header>