<section class="about-section">
  <div class="about-card">
    <!-- Left side (About Information) -->
    <div class="about-left">
      <h2>About</h2>
      <p>Hello! I am {{userDetails.name}}. {{userDetails.title}}.</p>
      <p>{{userDetails.description}}</p>
      <a href="#">Learn More</a>
    </div>

    <!-- Right side (Basic Information) -->
    <div class="about-right">
      <h2>Basic Information</h2>
      <ul>
        <li><strong>AGE:</strong> 24</li>
        <li><strong>EMAIL:</strong> alexgmail.com</li>
        <li><strong>PHONE:</strong> +1718-111-0011</li>
        <li><strong>ADDRESS:</strong> 140, City Center, New York, U.S.A</li>
        <li><strong>LANGUAGE:</strong> English, German, French</li>
      </ul>
    </div>
  </div>
</section>
