<section class="portfolio-section">
  <h2>Portfolio</h2>
  <!-- Category Filters -->
  <div class="portfolio-filters">
    <button class="filter-btn active">
      <i class="fas fa-laptop"></i>
    </button>
    <button class="filter-btn">
      <i class="fas fa-image"></i>
    </button>
    <button class="filter-btn">
      <i class="fas fa-camera"></i>
    </button>
  </div>

  <!-- Portfolio Grid -->
  <div class="portfolio-grid">
    <div class="portfolio-item">
      <img src="https://media.istockphoto.com/id/1616722285/photo/businesswoman-smiling-at-digital-tablet-in-modern-office.webp?a=1&b=1&s=612x612&w=0&k=20&c=zLXTfsIctCtRaFH-D-tBOBCO9wYpzMNWYw09sat71eI=" alt="Portfolio Image 1">
    </div>
    <div class="portfolio-item">
      <img src="https://media.istockphoto.com/id/1594327377/photo/male-freelancer-working-in-a-coworking-space.webp?a=1&b=1&s=612x612&w=0&k=20&c=CCxLDZnRf2CiQ8jngMTKb0bAwjtn2V7viIfXnF7btw4=" alt="Portfolio Image 2">
    </div>
    <div class="portfolio-item">
      <img src="https://media.istockphoto.com/id/1934523700/photo/close-up-on-man-hand-using-mobile-phone.webp?a=1&b=1&s=612x612&w=0&k=20&c=hs6nkQv8InRZeNm38Zeaz1nb-forIEhg9dmP3fFBEOA=" alt="Portfolio Image 3">
    </div>
    <div class="portfolio-item">
      <img src="https://media.istockphoto.com/id/2042526830/photo/successful-businesswoman-using-laptop-working-in-office-business-technology-corporate-concept.webp?a=1&b=1&s=612x612&w=0&k=20&c=M1BQ5o3GWfRo7GkVU3zPAlDt0ugLslDQq4a1dmoATes=" alt="Portfolio Image 4">
    </div>
  </div>
</section>
